body {
    background-color:black;
    color:lightcoral;
}

header {
    margin: 30px;
    text-align: center;
}

.grid {
    border: 2px solid lightblue;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    overflow: auto;
}

.grid img {
    margin: 4px;
}
